RPC_URL=
WALLET_PRIVATE_KEY=
JUPITER_API_KEY=
POLLING_INTERVAL_MS=
TRADE_SIZE_USDC=
SLIPPAGE_BPS=
PRICE_BUFFER_PERCENT=
DRY_RUN=
BID_WALLS='[{"tokenMint":"GCU4rpSTk2JavuTvYJGP6ah7RxEo5xaKrsRRfLwNkH45","bidWallAddress":"CvxxcGEs9YG1BTVNKtACC6mXpCHPJpzCkUgic17Q5eRu","name":"Token 1"}]'